<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/camera.js"></script>
    <script src="js/services/camera.js"></script>


  </head>
  <body ng-app="Simplegram">
    <h2>Main content area</h2>
    <p>hi</p>
    <img style:"width:300px;height:300px;" id="myImage" src=""  />
    
    <div class="bar bar-footer bar-balanced" ng-controller="CameraCtrl">

      <div class="title" >
        <button class="button button-icon icon ion-camera" ng-click="openCamera()"></button>
      </div>

      <div>
        <button class="button button-icon ion-folder" ng-click="openMediaFile()"></button>
      </div>

    </div>

    

  </body>
</html>
